/*reset*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}
h1,h2,h3,h4,h5,h6,p,figure,ul,ol{
    list-style: none;
}
a{
    text-decoration: none;
}
 
/*header*/
header{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
    margin:1rem 6rem;
}
header p{
    margin-right: 1rem;
    color: #787878;
    cursor: pointer;
}

header .tools{
    display: flex;
    float: right;
    padding-left: 90%;
    text-align: right;
    font-weight: bold;
}
header .tools p a:link { 
    text-decoration: none; 
    color: #787878;
} 
header .tools p a:visited {
    text-decoration: none; 
    color: #787878;
  }
header .tools p:hover{
    text-decoration: underline;
}
header .tools img{
    border-radius: 10rem;
    width: 3rem;
	height: 3rem;
    cursor: pointer;
}
header .tools #cloche {
    display: inline-block;
    vertical-align: center;
    background: url("https://cdn.icon-icons.com/icons2/878/PNG/512/alarm-bell_icon-icons.com_68596.png");
    opacity: .5;
    width: 1.8rem;
    height: 1.8rem;
    background-size: 100%;
    margin: auto;
    margin-right: 1.4rem;
    cursor: pointer;

  }

/* Main */
main{
    display: flex;
    flex-direction: column;
    align-items:center;
    margin-top: 10rem;
    margin: 12.5rem;
}
main .barre{
    display: flex;
    flex-direction: column;
    width: 40%;
}
main .barre input{
    width: 100%;
    margin-top: 2rem;
    padding: 1.2rem;
    border-radius: 5rem;
    border:0.1rem solid #d1d1d1;
    outline: none;
  
}
main .barre input:hover{
    border-color: #0000FF;
    -webkit-box-shadow: 1px 0px 4px 3px rgba(0,0,0,0.2); 
    box-shadow: 1px 0px 4px 3px rgba(0,0,0,0.2);
}

main .buttons{
    margin-top: 4rem;
}
main .buttons button{
    padding: 0.7rem 0.7rem;
    background-color: #e0e0e0d8;
    border:none; 
    border-radius: 0.2rem;
    margin-right: 0.5rem;
    cursor: pointer;
    outline:none;
    text-transform: capitalize;
    color: #494949;
    text-decoration: none;
}

main .lang{
    display: inline;
    float: right;
}

main .lang span{
    color: #0000FF;
}
/*footer*/
footer{
    background-color: #f2f2f2;
    padding: 0.5rem;
}
footer hr{
    font-size: 0.1rem;
    color: #8b8b8b31;
}
footer ul li img{
    max-width: 5%;
    transform: translateX(.3rem);
}
footer p{
    color: #262728;
    padding: 1rem 1rem;
    margin: 0.01rem;
}
footer ul{
    padding: 1rem 1rem;
    display: flex;
    justify-content: space-between;
}
footer ul li a{
    padding-left: 1rem;
    color:#2d2d2ed2;
    text-decoration: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
footer ul .green{
    margin: auto 1rem;
}

@media screen and (max-width: 70rem) {
    footer ul{
        text-align: justify;
        display: block;  
    }
    footer ul li a{
        padding: 0;
    }
    main figure form .search{
        width: 80%;
        padding: 1rem;
    }
    footer ul .green{
        margin: 1rem auto;
    }
    footer ul .green a{
        padding-left: 1rem;
    }
}
